body {
    background-color: rgb(255, 255, 255)
    
}

div.poster {
    margin-top: 100px;

}

@font-face {
    font-family: pillowlava;
    src: url('Pilowlava-Regular.woff');
}
div.text {
    font-size:70px;
    font-family:pillowlava;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: 0.5s;

}


div.container {
    display:flex;
    flex-wrap:wrap;
}

div.col {
    border-radius: 100px;
    width: 50%;
    overflow:hidden;
    margin-bottom: 3px;
}

div.logo {
    font-size: 50px;
}

/* 1/4 grid */
div.w1-4 {
    width:25%;
}

div.w2-4 {
    width:49.3%;
}

div.w3-4 {
    width:74.3%;
}

div.w4-4 {
    width: 100%;
}

/* 1/3 grid */
div.w1-3 {
    width:33.333%;
}

div.w2-3 {
    width:66.666%;
}

div.w3-3 {
    width: 100%;
}



/* 1/2 grid */
div.w1-2 {
    width:50%;
}

div.w2-2 {
    width:100%;
}


/* rule 1 */

div.text.one {
    font-size:50px;
}

div.text.two {
    font-size:70px;
}

div.text.three {
    font-size:100px;
}

/* rule 2 */
div.text.x {
   background-color: rgb(225, 177, 60); 
}

div.text.y {
    background-color:rgb(237, 235, 215);
}

div.text.z {
    background-color: rgb(44, 80, 22);
}


/* rule 3 */
div.text.a {
    font-weight: 100;
}

div.text.b {
    font-weight: 500;
}

div.text.c {
    font-weight:900;
}


div.small {
    font-size: 20px;
    font-family:pillowlava;
    text-align: center;
    color:rgb(38, 31, 13);
}