body {
    background-color: rgb(255, 255, 255)
}

div.poster {
    background-color:rgb(0, 0, 0);
    width:75%;
}

div.text {
    font-size:120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    transition: 0.5s;
}

/* rule 1 */

div.text.one {
    font-size:30px;
}

div.text.two {
    font-size:60px;
}

div.text.three {
    font-size:160px;
}

/* rule 2 */

div.text.a {
    color: yellow;
}

div.text.b {
    color:blue;
}

div.text.c {
    color: magenta;
}

div.text.x {
text-align: right;
}

div.text.y {
text-align: center;
}

div.text.z {
text-align: left;
}

div.small {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
}