body {
    background-color: black;
}

.poster {
    width:60%;
    margin-top: 7%;
    margin-left: 20%;
}

@font-face {
    font-family:lefty;
    src: url('lefty.woff');
}

.text {
    color: white;
    font-family: lefty;
    font-size: 110px;
    transition: 0.5s;
}

.small {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    font-weight:300;
    text-align: center;
}

.container {
    display:flex;
    flex-wrap:wrap;
}

.col {
    text-align: center;
}

/* COLUMN */
.w1-3 {
    width:30%;
}

.w2-3 {
    width:70%;
}

.w2-2 {
    width:100%;
}


/* RULE 1 */
.text.one {
    color: rgb(244,72,42)
}

.text.two {
    color:rgb(249,193,0)
}

.text.three {
    color:rgb(6,145,92);
}



/* RULE 2 */
.text.a {
    font-size: 110px;
}

.text.b {
    font-size: 95px;
}

.text.c {
    font-size: 90px;
}


/* RULE 3 */
.text.x {
    transform: rotate(3deg);
}

.text.y {
    transform: rotate(-3deg);
}

.text.z {
    transform: rotate(0deg)
}
