body {
    background-color:rgb(255, 251, 238);
}

.poster {
    width:90%;
    margin-left: 80px;
    margin-top: 35px;
}

@font-face {
    font-family:Voyage;
    src: url('Voyage-Regular.woff');
}


.text {
    color: rgb(255, 251, 238);
    font-family: Voyage;
    font-size: 120px;
    transition: 0.5s;
    text-align: center;
}

.small {
    color: rgb(0, 3, 179);
    font-family:Voyage;
    font-size:30px;
    font-weight:500;
    text-align: center;
    margin-bottom: 5px;
}

.container {
    display:flex;
    flex-wrap:wrap;
}


/* COLUMN */
.w1-3 {
    width:33.3%;
}

.w2-3 {
    width:70%;
}

.w2-2 {
    width:100%;
}

.w1-2 {
    width:50%;
}

/* RULE 1 */
.text.one {
    background-image: linear-gradient(to right, rgb(0, 3, 179) , rgb(255, 251, 238));
    border:3px;
    border-radius: 100px;
}

.text.two {
    background-image: linear-gradient(to right, rgb(255, 251, 238), rgb(0, 3, 179));
    border:3px;
    border-radius: 100px;
}

.text.three {
    background-image: linear-gradient(to right, rgb(0, 3, 179) , rgb(255, 251, 238));
    border:3px;
    border-radius: 100px;
}



/* RULE 2 */
.text.a {
    opacity: 0%;
}

.text.b {
    opacity: 100%;
}

.text.c {
    opacity: 100%;
}



/* RULE 3 */
.text.x {
    
}

.text.y {
    
}

.text.z {
   
}
