body {
    background-color:rgb(177,203,226);
}

div.poster {
    width: 80%;
    background-image:url('mymind-unsplash.jpg');
    border: 10px dotted rgb(255, 230, 196);
    -moz-border-radius: 10px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    margin-top: 80px;
    margin-left:10%;
}

@font-face {
    font-family: hypha;
    src: url('hypha-webfont.woff');
}

div.text {
    font-family: hypha;
    text-align: left;
    color: rgb(255, 230, 196);
    transition: 0.5s;
}

.container {
    display:flex;
    flex-wrap:wrap;
}


.col{
}

.w1-2 {
    width: 50%;
}












/* rule 1 */

div.text.one {
    font-size: 90px;
}

div.text.two {
    font-size: 110px;
}

div.text.three {
    font-size: 130px;
}

/* rule 2 */

div.text.a {
    transform: scale(-1,1);
}
    


div.text.b {
    transform: scale(1,1);
}

div.text.c {
    transform: scale(1,1) 
}

div.text.x {
    background-image:url('mymind-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.text.y {
    background-image:url('mymind-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.text.z {
    background-image:url('mymind-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.small {
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(255, 230, 196);
    margin-bottom: 10px;
}